<article id="content" class="homepage-content-bg">
	{{#if event.media.slideshow}}
	<section class="homepage-slider">
		<div class="slider-controls" data-snap-ignore="true">                
		{{#each event.media.slideshow}}
			<div><div class="overlay"></div><img src="{{this}}" class="responsive-image" alt="img" /></div>
		{{/each}}
		</div>
	</section>
	{{/if}}
	
	<header class="home-header content"><div class="bg home-header-bg">
		<div class="row row-top image-container">
			<!-- Should be populated from server -->
			{{#if event.media.logo}}
				<img id="event-image" />
			{{else}}
				<img id="event-image-default" src="img/logo.png" />
			{{/if}}
		</div>
		
		<h3 class="sub-title">{{t "ANS BIRTHDAY"}}</h3>

		<div id="event-info" class="row scores">
			<div class="col icon-col trans-1-bg"><i class="icon ion-star"></i></div>
			<div class="col-33 trans-1-bg">
				<h3>{{t "Total"}}</h3>
				<div id="attendee-score" class="figure">0</div>
			</div>

			<div class="col icon-col trans-2-bg"><i class="icon ion-person-stalker"></i></div>
			<div class="col-33 trans-2-bg">
				<h3>{{t "Rank"}}</h3>
				<div id="attendee-rank" class="figure">0</div>
			</div>
		</div>
	</div></header>

	<section class="event-description content">
		<p>{{{ event.description }}}</p>
	</section>
	
	<nav id="game-menu" class="content"></nav>
</article>