<div class="row" id="nav-row-0">
	{{#slice links offset=0 limit=3}}
	<article class="col col-33" data-index="{{itemIndex}}">
		<div class="menu-content playgo-menu-items-bg">
			<span class="flaticon-{{classification}} nav-icon"></span>
			<h4>{{label}}</h4>
		</div>
	</article>
	{{/slice}}
</div>

<div class="row" id="nav-row-1">
	{{#slice links offset=3 limit=3}}
	<article class="col col-33" data-index="{{itemIndex}}">
		<div class="menu-content playgo-menu-items-bg">
			<span class="flaticon-{{classification}} nav-icon"></span>
			<h4>{{label}}</h4>
		</div>
	</article>
	{{/slice}}

</div>

<div id="hero" class="hero hero-bg-color">
	<div class="row hero-header">
		<div class="col col-33 col-offset-33">
			<span id="icon" class="nav-icon"></span>
		</div>
	</div>
	<div class="row row-center hero-description">
		<p class="col col-center">adsfdsaffa</p>
	</div>
	<div class="row row-bottom">
		<a id="play-btn" class="col col-center button button-outline button-stable" href="#">{{t "Play"}}</a>
	</div>
</div>

