
<form id="authentication" class="center-element user-input" novalidate>
	<section class="list list-inset">
		<label class="item item-input">
			<input type="text" placeholder="{{t "Event code"}}" value="" name="event" required /> 
		</label>
		<label class="item item-input">
			<input type="text" placeholder="{{t "Username"}}" value="" name="username" required />
		</label>
		<label class="item item-input">
			<input type="password" placeholder="{{t "Password"}}" value="" name="password" required />
		</label>
	</section>
	<section class="padding">
		<button type="submit" class="button button-block button-positive uppercase">{{t "Log In"}}</button>
	</section>
	<hr />	
	<section class="row">
		<span class="register-link col col-center">{{t "Or"}}</span>
		<a class="button" href="#register/">{{t "Register"}}</a>
	</section>
</form>

<script id="event-closed" type="text/x-handlebars-template">
  	<div id="locked-msg" class="card">
  		<div class="item item-divider">
    		{{t "Event is locked!"}}
  		</div>
	  	<div class="item item-text-wrap">
	    	{{t "The event is currently locked, could not login, please try again later."}}
	  	</div>
	</div>
</script>