<form id="register" class="center-element user-input" novalidate>
	<section class="list list-inset">
		<label class="item item-input">
			<input type="text" value="" placeholder="{{t "Registration code"}}" name="registration_code" required pattern="[1-9]+"/>
		</label>
		<label class="item item-input">
			<input type="text" value="" placeholder="{{t "Event code"}}" name="event_pk" required pattern="[1-9]+"/>
		</label>
	</section>

	<section class="list list-inset">
		<label class="item item-input">
			<input type="text" value="" placeholder="{{t "Full name"}}" name="fullname" required pattern="[a-zA-Z ]+"/>
		</label>
	
		<label class="item item-input">
			<input type="text" value="" placeholder="{{t "Username"}}" name="username" required pattern="[a-zA-Z0-9_-]{5,15}"/>
		</label>

		<label class="item item-input">
			<input type="email" value="" placeholder="{{t "Email"}}" name="email" required />
		</label>

		<label class="item item-input">
			<input type="password" value="" placeholder="{{t "Password"}}" name="password" required pattern=".{4,20}"/>
		</label>
	</section>
	<section class="padding">
		<button type="submit" class="button button-block button-positive uppercase">{{t "Register"}}</button>
	</section>
</form>

<!-- <section class="content">
	<form id="register" class="center-element user-input" novalidate>
		<article>

			<div class="form-field">
				<input type="text" value="" placeholder="{{t "Registration code"}}" name="registration_code" class="topcoat-text-input trn" required pattern="[1-9]+"/>

				<em class="form-hint">{{t "Required Field"}} / {{t "Numbers only"}}</em>
			</div>

			<div class="form-field">
				<input type="text" value="" placeholder="{{t "Event code"}}" name="event_pk" class="topcoat-text-input" required pattern="[1-9]+"/>
					
				<em class="form-hint">{{t "Required Field"}} / {{t "Numbers only"}}</em>
			</div>
			<hr />

			<div class="form-field">
				<input type="text" value="" placeholder="{{t "Full name"}}" name="fullname" class="topcoat-text-input" required pattern="[a-zA-Z ]+"/>	

				<em class="form-hint">{{t "Required Field"}} / {{t "Letters only"}}</em>
			</div>

			<div class="form-field">
				<input type="text" value="" placeholder="{{t "Username"}}" name="username" class="topcoat-text-input" required pattern="[a-zA-Z0-9_-]{5,15}"/>	

				<em class="form-hint">{{t "Required Field"}} / {{t "5-15 letters and numbers"}}</em>
			</div>

			<div class="form-field">
				<input type="email" value="" placeholder="{{t "Email"}}" name="email" class="topcoat-text-input" required />	

				<em class="form-hint">{{t "Required Field"}} / {{t "Wrong email"}}</em>
			</div>

			<div class="form-field">
				<input type="password" value="" placeholder="{{t "Password"}}" name="password" class="topcoat-text-input" required pattern=".{4,20}"/>	

				<em class="form-hint">{{t "Required Field"}} / {{t "4-20 numbers"}}</em>
			</div>

			
			<button type="submit" class="topcoat-button--cta uppercase">{{t "Register"}}</button>
		</article>
	</form>
</section> -->