<section class="card">
	<div class="item wrap playgo-end-game-bg">
		<h1 class="title">{{t "Congratulations this game is over!"}}</h1>
	</div>
	<div class="item playgo-end-game-bg">
		<a href="#" class="item button playgo-btn-bg">{{t "Keep playing?"}}</a>
	</div>
</section>