<section id="explanation-container" class="card">
{{#if questionExplanation}}
	<div class="item item-divider {{questionExplanation.resultClass}}">
		<h1>{{ questionExplanation.result}}</h1>
	</div>

	<p class="item item-text-wrap">{{questionExplanation.explanation}}</p>
	<div class="item item-text-wrap">
	<button class="button button-energized" id="continue">{{t "Continue Playing"}}</button>
	</div>
{{else}}
	<p class="item item-text-wrap empty">{{t "Cannot navigate to this page without choosing an answer first"}}</p>
{{/if}}
</section>