<header id="trivia-subheader" class="playgo-game-header-bg">
	<h1 class="title subheader-title playgo-header-title-size">{{t "Trivia"}}</h1>
	<h3 class="sub-title">{{t "Test your knowledge"}}</h3>

	<div class="row scores">
		{{#if question}}
		<div class="col icon-col trans-1-bg"><i class="icon ion-star"></i></div>
		<div class="col-33 trans-1-bg">
			<h3>{{t "Points for question"}}</h3>
			<div class="score">{{ question.award_points }}</div>
		</div>
		{{/if}}

		<div class="col icon-col trans-2-bg"><i class="icon ion-person-stalker"></i></div>
		<div class="col-33 trans-2-bg">
			<h3>{{t "Total"}}</h3>
			<div class="score" id="user-score">0</div>
		</div>
	</div>
</header>

{{#if question}}
	<form id="trivia-question-form" novalidate="true">
		<h3 class="game-title-size">{{ question.title }}</h3>
		
		{{#if question.image}}
		<div class="item item-image">
			<img id="question-image" alt="{{ question.title }}" />
		</div>
		{{/if}}
		
		<div class="list-picker">
		{{#each question.answer_options}}
			<div id="{{ ../question.id }}_{{ id }}" class="item item-icon-right answer playgo-trivia-question-bg">
				<i class="icon ion-ios-circle-outline"></i>
				{{ title }}
			</div>
		{{/each}}
		</div>

		<footer class="row">
			<div class="col col-10">&nbsp;</div>
			<button class="col col-80 button button-outline button-stable" id="skip-btn">{{t "Skip"}}</button>
			<div class="col col-10">&nbsp;</div>
		</footer>
	</form>
{{else}}
	<p>{{t "We're all out of questions for this game!"}}</p>
{{/if}}