﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no" />
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<title>PlayGo</title>
</head>
<body>
	<style id="custom-style"></style>
	<aside id="sidebar" class="page-sidebar">
		<script type="text/x-handlebars-template" id="sidebar-template">
			<div class="drawer">
				<div class="sidebar-content scroll-content">
					<header id="attendee-info">
						<img id="sidebar-image" />
						<h1 class="stable"><!-- bound to username --></h1>
						<div class="row scores">
							<div class="col icon-col royal-bg"><i class="icon ion-star"></i></div>
							<div class="col royal-bg">
								<h3>{{t "Score"}}</h3>
								<div id="attendee-score">0</div>
							</div>
							<div class="col icon-col royal-bg clearer"><i class="icon ion-arrow-graph-up-right"></i></div>
							<div class="col royal-bg clearer">
								<h3>{{t "Rank"}}</h3>
								<div id="attendee-rank">0</div>
							</div>
						</div>
					</header>

					<div class="list playgo-sidebar-font-color">
						<div class="item item-divider">{{t "Navigation"}}</div>
						<a class="item" href="#"><i class="icon ion-home"></i> {{t "Home"}}</a>
						<a class="item" href="#leaderboard"><i class="icon ion-clipboard"></i> {{t "Leaderboard"}}</a>

						<div class="item item-divider" id="game-submenu-header">{{t "Games"}}</div>

						<div class="item item-divider"></div>
						<a class="item" href="#logout"><i class="icon ion-log-out"></i> {{t "Logout"}}</a> <!-- TODO: change to a button like in Shoval's design -->
					</div>
				</div>
			</div>
		</script>
	</aside>
	
	<div id="page-wrapper">
		<div id="page">
			<header class="bar-stable bar bar-header disable-user-behavior" align-title="center">
				<button class="button button-icon button-clear ion-navicon" id="sidebar-button" menu-toggle="left"></button>

				<div class="title title-center header-item">play<b>go</b></div>
	
				<a href="#" class="button button-icon button-clear ion-home"></a>
			</header>

			<main id="page-container" class="scroll-content">
			</main>
			
			<div class="overlay"></div>
		</div>
	</div>
	
	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" data-main="js/main" src="js/vendor/require.js"></script>
</body>
</html>