
<section id="explanation-container" class="card">
{{#if challengeResult}}
<div class="item item-devider playgo-end-game-bg">
		<h1 class="{{challengeResult.resultClass}}">
			{{ challengeResult.result}}
		</h1>
</div>
<p class="item item-text-wrap playgo-end-game-bg">{{challengeResult.explanation}}</p>

<div class="item item-text-wrap playgo-end-game-bg">
	<button class="button button-energized playgo-btn-bg" id="continue">{{t "Continue Playing"}}</button>
</div>
{{else}}
	<p class="item item-text-wrap empty playgo-end-game-bg">{{t "Cannot navigate to this page without choosing an answer first"}}</p>
{{/if}}
</section>