<header id="challenge-subheader" class="playgo-game-header-bg">
    <h1 class="title subheader-title playgo-header-title-size">{{t "Challenges"}}</h1>
    <h3 class="sub-title">{{t "Challenge your environment"}}</h3>

    <div class="row scores">
        {{#if challenge}}
        <div class="col icon-col trans-1-bg"><i class="icon ion-star"></i></div>
        <div class="col-33 trans-1-bg">
            <h3>{{t "Points for challenge"}}</h3>
            <div class="figure score">{{ challenge.award_points }}</div>
        </div>
        {{/if}}

        <div class="col icon-col trans-2-bg"><i class="icon ion-person-stalker"></i></div>
        <div class="col-33 trans-2-bg">
            <h3>{{t "Total"}}</h3>
            <div id="userScore" class="figure score">0</div>
        </div>
    </div>
</header>

{{#if challenge}}
<div class="container game">
    <form id="challenge-form" name="challengeForm" novalidate="">
        
        <h2 class="game-title-size">{{ challenge.title }}</h2>

        {{#if challenge.description}}
        <div class="row sub-title">
            <p class="challenge-description"> {{challenge.description}} </p>
        </div>
        {{/if}}

        {{#if challenge.image}}
            <div class="row"><img id="img-caption" alt="{{ challenge.title }}" /></div>
        {{/if}}

        <div class="row">
            <input type="text" id="text-answer" class="col col-center" placeholder="{{t "Answer..."}}">
        </div>
        
        <div class="row photo-buttons">
            <button type="button" class="col camera col-center">
                {{t "Take picture"}}
            </button>
            <button type="button" class="col gallery-btn col-center">
                {{t "Choose picture"}}
            </button>
        </div>
        
        <div class="row" id="capture-wrapper">
            <img id="capture" />
        </div>

        <div class="row">
		  <button class="button col playgo-btn-bg" id="answer">{{t "Answer"}}</button>
        </div>

        <footer class="row">
            <button id="skip-btn" class="button col">{{t "Skip"}}</button>
        </footer>

    </form>
</div>
{{else}}
    <p class="empty">{{t "No challenges found"}}</p>
{{/if}}

