<header class="home-header content"><div class="playgo-game-header-bg">
	<div class="row row-top" style="padding-bottom:2em;">
		<h1 class="title subheader-title playgo-header-title-size">
			{{t "Leaderboard"}}
		</h1>
	</div>
</div></header>
<section id="leaderboard">
	<div class="row top-ranks">
		<div class="col">
			<article class="second-place">
				<div class="circle">2</div>
				<h2 class="playgo-font-color">{{users.1.attributes.username}}</h2>
			</article>
		</div>
		<div class="col">
			<article class="first-place">
				<div class="circle">1</div>
				<h2 class="playgo-font-color">{{users.0.attributes.username}}</h2>
			</article>
		</div>
		<div class="col">
			<article class="third-place">
				<div class="circle">3</div>
				<h2 class="playgo-font-color">{{users.2.attributes.username}}</h2>
			</article>
		</div>
	</div>

	<table>
	{{#each users}}
		<tr class="leader-{{@index}}">
			<td>{{inc @index}}</td>
			<td class="username">{{attributes.username}}<!-- userName --></td>
			<td>{{attributes.points}}<!-- score --></td>
		</tr>
	{{/each}}
	</table>
</section>